#a mongodb database url for database connection
#mongodb atlas
DATABASE_URL=""
#mongodb local
#DATABASE_URL='mongodb://localhost:27017/eats?replicaSet=rs0'

API_BASE_URL='http://localhost:3000'
NEXT_PUBLIC_API_BASE_URL='http:localhost:3000'
NEXTAUTH_URL='http://localhost:3000'
# NEXTAUTH_URL=''
#auth secret key for nextauth
AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev



#github auth app client id and secret, used seperate for local and live here due to redirect uri mismatch
#github credentials for local
GITHUB_ID=''
GITHUB_SECRET=''
#github credentials for live
# GITHUB_ID=''
# GITHUB_SECRET=''



#google oauth client id and secret, used seperate for local and live here due to redirect uri mismatch
#google credentials for local
GOOGLE_ID=''
GOOGLE_SECRET=''
#google credentials for live
# GOOGLE_ID=''
# GOOGLE_SECRET=''





#credentials for email sending, can be any other type of server
#gmail credentials for email sending
GMAIL_APP_PASSWORD=''
EMAIL_SERVER=''
EMAIL_FROM=''



#uber access token and base url
#access token created from uber developer dashboard
UBER_ACCESS_TOKEN=''
UBER_API_BASE='https://api.uber.com'

#webhook singature signing key
UBER_SIGNING_SECRET=''




#pexels api key for using food images
PEXELS_API_KEY=''
 